:root {
    --eggplant: #4B3B47; 
    --dimgray: #6A6262; 
    --spanishgray:#9C9990; 
    --springbud: #CFD2B2; 
    --gainsburo: #E0D8DE; 
}

* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#top-nav {
    background-color: var(--dimgray); 
    width: 100%; 
    height: 5vh; 
}

#welcome {
    float: right; 
    display: inline-block; 
    padding-right: 10px; 
}
body {
    background-color: var(--eggplant);
}

#redirect-link{
    font-weight: bold; 
    background-color: var(--spanishgray);
    text-decoration: none; 
    color: var(--black); 
    padding: 12px 12px; 
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
}

input[type=submit] {
    background-color: var(--spanishgray); 
    border: none; 
}

#account{
    color: var(--gainsburo); 
    text-decoration-color: none; 
}