:root {
    --red: #DD0426; 
    --darker_red: #ad001a; 
}
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#top-nav {
    width: 100%; 
    height: 10vh; 
}

#welcome {
    float: right; 
    display: inline-block; 
    padding-right: 10px; 
}
body {
    background-image: url("img/dark-triangles.png"); 
}

#redirect-link{
    text-decoration: none; 
    color: black;  
    padding: 10px 10px; 
    background-color: var(--red); 
}

#redirect-link:hover{
    padding: 13px 13px; 
    background-color: var(--darker_red); 
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    color: white; 
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
}

input[type=submit] {
    border: none; 
}

input[type="text"]{
    width: 95%; 
}

input[type="password"] {
    width: 95%; 
}

#account{
    text-decoration-color: none; 
    color: black; 
}

#login-div{
    background-color: var(--red); 
    margin-left: 35%; 
    margin-top: 10%; 
    padding-left: 30px; 
    padding-top: 50px; 
    padding-bottom: 50px; 
    width: 30%; 
    box-shadow: 3px 3px 8px black; 
}

#explore-heading {
    text-align: center; 
    color: white; 
    margin-top: 2%; 
}

textarea {
    width:90%;
    max-width:95%;
    max-height:30%;
}

#post {
    display: inline-block; 
    background-color: var(--red); 
    margin-left: 10%; 
    margin-top: 10%; 
    padding-left: 30px; 
    padding-top: 50px; 
    padding-bottom: 50px; 
    width: 30%; 
    box-shadow: 3px 3px 8px black; 
}

#form-heading{
    margin-top: 10%; 
}

#click-button{
    margin-top: 2%; 
    display: inline-block; 
    margin-left: 1%; 
    box-shadow: 3px 3px 8px black; 
}

#welcome{
    color: white; 
}

#logo {
    margin-left: 30%; 
    display: inline-block; 
    width: 128px; 
}